# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock
.DS_Store
.tmp

# Build directories
dist-builder
build/
src/renderer/build/

# Dependency directories
node_modules/
src/renderer/node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env.production

# Webpack
.webpack/

# Electron-Forge
out/

# React build
/build
/dist

# Logs
*.log

# Coverage
coverage/

# IDE
.vscode/
.idea/